
<h1>Add Video</h1><h5>input test url [ http://localhost:4200/assets/video/test1.mp4 ]</h5>
<div class="row">
    <div class="col-md-6">
        <label class="col-md-2 control-label">Title:</label>
        <div class="col-md-10">
        <input type="text" #title
            name="title"
            required="required" 
            class="form-control"
            placeholder="Enter title"/>
        </div>	
        
        <label class="col-md-2 control-label">Url:</label>
        <div class="col-md-10">
        <input type="url" #url
            name="url"
            required="required" 
            class="form-control"
            placeholder="Enter url"
            />
        </div>
        <br/>
            
        <!-- (click) passes input value to add() and then clears the input -->
        <div class="btn-group">
            <button class="btn btn-primary"
            (click)="add(title.value, url.value); url.value=''">Add</button>
        </div>        

    </div>
</div>

<div class="row">
<div class="col-md-12">
    <table class="table table-bordered table-condensed table-hover">
    <thead>
        <tr class="bg-light">
            <th>S.no</th>
            <th>Title</th>
            <th>Url</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody class="col-md-12">
        <!-- <div *ngFor = "let item of videoes; index as seqId"> -->
            <tr *ngFor = "let item of videoes; index as seqId" (click)="changeBg(seqId)">
                <td>{{seqId+1}}</td>
                <td>{{item.title}}</td>
                <td><input type="text" #item_url value={{item.url}}/></td>
                <td><input type="button" id="edit" class="btn btn-primary"  (click)="update(item, item_url.value)" value="Edit"/></td>
                <td><input type="button" id="delete" class="btn btn-danger" (click)="delete(item)" value="Delete"/></td>
                <td>
                    <div *ngIf="item.approved && item.approved===1;else other_content">
                        <input type="button" id="approve" class="btn btn-success" disabled value="Approved"/>
                    </div>
                    <ng-template #other_content>
                        <input type="button" id="approve" class="btn btn-primary" (click)="approve(item)" value="Approve"/>  
                    </ng-template>
                </td>	
            </tr>
        <!-- </div> -->
    </tbody>
    </table>
</div>
</div>

